.title-column1 {
    font-size: var(--font-title-1);
    color: var(--color-grey-7);
    font-weight: 600;
    line-height: 48px;
  }
.text-colum1{
    font-size: var(--font-text-1);
    color: var(--color-grey-7);
    font-weight: 400;
    line-height: 30px;
}

.title-column2{
   font-size: var(--font-title-2);
   color: var(--color-grey-7);
   font-weight: 500;
   line-height: 30px;
}
.text-column2{
   font-size: var(--font-text-2);
   color: var(--color-grey-7);
   font-weight: 500;
   line-height: 21px;
}
.text-placeholderColumn2{
   font-size: var(--font-text-2);
   color: var(--color-grey-7);
   font-weight: 400;
   line-height: 21px;
}

/*                   PG PROFILE               */
.title-usuario{
   font-size: var(--font-title-3);
    color: var(--color-grey-7);
    font-weight: 700;
    line-height: 29px;
}
.title-li{
   font-size: var(--font-title-2);
   color: var(--color-grey-7);
   font-weight: 500;
   line-height: 24.2px;
}
.text-li{
   font-size: var(--font-text-2);
   color: var(--color-grey-6);
   font-weight: 400;
   line-height: 21px;
}

/*                   PG ERROR               */
.title-error{
   font-size: var(--font-title-0);
   color: var(--color-grey-7);
   font-weight: 700;
   line-height: 50px;
}
.text-error{
   font-size: var(--font-text-4);
   color: var(--color-grey-6);
   font-weight: 600;
   line-height: 24px;
}
.text-error_span{
   color: var(--color-grey-7);
}